@use '../../../scss/mixin.module' as *;
@use '../../../scss/theme.module' as *;
@use '../../../scss/font.module' as *;
.button-wrapper {
    display: inline-flex;
    padding: .5px;
    border-radius: $radius-capsule;
    background: $accent;
}

.button {
    color: $text-color;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: .75rem 2rem;
    border-radius: $radius-capsule;
    font-family: $font-sans;
    font-weight: 700;
    font-size: 1.1rem;

    cursor: pointer;
    transition: all .3s ease;

    @include translate-hover();

    &--gradient {
        @include btn-gradient;
    }

    &--solid {
        @include btn-solid(#4f46e5, white);
    }

    &--shadow {
        @include btn-solid(#4f46e5, white);
        @include btn-shadow;
    }

    &--outline {
        @include btn-outline(#4f46e5);
    }

    &--link {
        @include btn-link(#4f46e5);
    }

    &.disabled {
        opacity: .5;
        pointer-events: none;
    }
}