@use '../../../scss/mixin.module' as *;
@use '../../../scss/theme.module' as *;
@use 'sass:color';
.btn{
    position: relative;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: $radius-capsule;
    background: $accent;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 3px 3px 6px color.adjust($foreground, $lightness: 30%);
    transition: background 0.3s ease;
    &:hover{
        background: color.adjust($accent, $lightness: -10%);
    }
    // &::before{
    //     content: '';
    //     position: absolute;
    //     top: 10px;
    //     left: 10px;
    //     width: 100%;
    //     height: 100%;
    //     border-radius: $radius-capsule;
    //     background: rgb(255, 0, 0);
    //     opacity: 1;
    //     transition: opacity 0.3s ease;
    // }
}