@use '../../../scss/theme.module' as *;
@use '../../../scss/mixin.module' as *;
@use 'sass:color';

.inputBx {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    label {
        font-size: .85rem;
        color: var(--text-color);
    }

    textarea {
        padding: .5rem;
        border-radius: $radius-small;
        border: 1px solid var(--card-border);
        background: transparent;
        backdrop-filter: blur(8px);
        width: 100%;
        outline: none;
        color: var(--text-color);
        font-size: .85rem;
        resize: vertical;

        &::placeholder {
            color: var(--placeholder-lighter);
        }
    }

    .input-error {
        color: #ff4d4f;
        font-size: .75rem;
        margin-top: .25rem;
    }
}