@use './mixin.module' as *;
@use './theme.module' as *;
@use './font.module' as *;

.hero {
    position: relative;
    min-height: 80svh;
    @include flex(column, center, center);
    position: relative;
    margin-block: clamp(2rem, 5vw, 4rem);
    perspective: 1200px;
    @include flex(column, center, center);
    padding: 0 1.5rem;
    text-align: center;
}

.badgeWrapper {
    margin: 0 auto;
}

.badge {
    border-radius: 999px;
    border: 1px solid var(--hero-badge-border);
    background: var(--hero-badge-bg);
    padding: 0.4rem 1rem;
    backdrop-filter: blur(12px);
}

.shinyText {
    font-size: 0.9rem;
    color: var(--hero-badge-text);
}

.heading {
    font-size: clamp(2.5rem, 6vw, 5rem);
    font-weight: 600;
    line-height: 1.1;
    margin: 0rem 0 2rem;
    font-family: $font-display;
    background: linear-gradient(to bottom right, var(--hero-heading-gradient-start), var(--hero-heading-gradient-end));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtext {
    font-size: 1.6rem;
    line-height: 3.1rem;
    color: var(--hero-subtext-color);
    max-width: 1000px;
    font-family: $font-sans;
    margin-bottom: 4rem;
}

.imageWrapper {
    position: relative;
    margin-top: 2rem;
    border-radius: 16px;
    overflow: hidden;

    img {
        width: 100%;
        border-radius: inherit;
    }
}

.imageGlow {
    position: absolute;
    inset: 0;
    background: var(--hero-image-glow);
    filter: blur(120px);
    opacity: 0.5;
}

.break {
    display: none;
}

@media (min-width: 768px) {
    .break {
        display: block;
    }
}